.container{
    min-height: 100vh;
    min-width: 20vw;
    background-color: inherit;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
}
.innerContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.input{
    outline: none;
    border: 2px solid var(--primaryColor);
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    font-weight: 600;
    background-color: var(--gray);
    color: var(--primaryColor);
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.innerBox{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.submitButton{
    border-radius: .5rem;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 600;
}
.submitButton:hover{
    background-color: var(--primaryColor);
}
.innerContainer2wrap{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.innerContainer2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    flex-wrap: wrap;
}
.backgroundColorSetterDiv{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #333;
}

@media screen and (max-width: 1480px){
    .innerBox{
        flex-direction: column;
    }
}
@media screen and (max-width: 850px){
    .container{
        width: 100%;
        min-height: 20vh;
        height: 100%;
    }
}